.btn {
  position: relative;
  width: 100%;
  font-size: .14rem;
  height: 2.8em;
  line-height: 2.8em;
  //color: #fff;
  text-align: center;
  border-radius: .06rem;
  //color: #ffffff;



  div {
    border-radius: .06rem;
  }
}