/**
 * Created by Tiny on 2017/6/8.
 */
:global{
  .form-group{

  }
  .help-block{
    font-size: 13px;
  }
  .control-label,.radio-inline,.radio{
    font-size: 14px;
  }
  .validation-message{
    color: red;
  }
  fieldset{
    width: 600px;
    font-size: 15px;
  }
  input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .has-error input {
    border: 1px solid #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
}

